.timeline {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 300px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 25px;
  }

  &__second-line {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
    height: 2px;
    background-image: repeating-linear-gradient(
      to right,
      #fff,
      #fff 4px,
      #215a6b 4px,
      #215a6b 8px
    );
    background-size: 8px 4px;
  }

  &__start {
    position: absolute;
    top: 50%;
    left: -21px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: #00b897;
    border-radius: 50%;

    &-dot {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background: #215a6b;
      border-radius: 50%;
    }
  }

  &__arrow-end {
    position: absolute;
    top: calc(50% - 2px);
    right: -8px;
    transform: translateY(-50%);
    height: 16px;
    border-radius: 50%;
  }
}
